/* Spider waterfall overlay */

.openwebrx-spider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

.openwebrx-spider-setting {
  display: flex;
  align-items: center;
  gap: 6px;
}

.openwebrx-spider-setting-title {
  display: inline-block;
}
